/* General styles */
* {
    margin: 0;
}

/* Nav bar styles */
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
}

.button, .logo {
    align-items: center;
    text-align: center;
    padding: 0;
}

/* button styles */

button {
    background-color: hsl(136, 65%, 51%);
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 25%;
    color: white;
    display: inline-block;
}