/* General styles */
* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

/* Nav bar styles */
nav.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
}

.button, .logo {
    /* align-items: center; */
    text-align: center;
    padding: 0;
}

/* button styles */

.btn {
    background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 20px;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    /* display: inline-block; */

    /* The last property may be necessary for the second button in section-1 */
}

.btn:hover {
    transition: 0.5s;
    filter: brightness(130%);
}

/* Main content styles */

.content {
    /* is width: 100%; necessary? */
    width: 100%;
    height: 650px;
}

/* section-1 */

.section-one {
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr; */
    background-color: hsl(0, 0%, 98%);
}

.conversion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 22% 20% 20% 25%;
    /* padding: px px px; */
}

.conversion-txt p {
    line-height: 150%;
    font-size: 17px;
}

.heading h1{
    font-size: 56px;
    /* font-weight: 300; */
}

.image-wrapper {
    position: relative;
    /* overflow: ; */
    height: 600px;
    height: 100%;
    width: 100%;
}

.images {
    background-image: url(../images/bg-intro-desktop.svg);
    background-position: 13% 65%;
    /* object-fit: auto; */
    background-repeat: no-repeat;
    /* position: relative; */
    /* are the bottom two necessary? */
    /* height: 100%;
    width: 100%; */
    width: 50vw;
    height: 620px;
}

.image {
    overflow: hidden;
    /* object-fit: cover; */
    /* width: 50vw;
    height: 620px; */
}

.image .front-image {
    width: 50vw;
    height: 820px;
    /* object-fit: none; */
    object-fit: cover;
    /* enable object-position: -190% 70%; with a height enabled and see what happens */
    /* object-position: -190% 70%; */
    /* object-position: -190% 210%; */
    object-position: 50% 180%;
    /* position: absolute;
    left: 17%;
    top: -20%;  */
    overflow: visible;
    position: relative;
    right: -100px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
    /* overflow: hidden; */
}

/* .back-image {
    position: absolute;
} */

.section-two {
    background-color: hsl(220, 16%, 96%);
    display: grid;
    grid-template-rows: 35% 65%;
    height: 450px;
    width: 1068.75px;
    padding: 100px 178.125px;
    /* necessary? */
    row-gap: 20px;
}

.sub-heading h2{
    font-size: 40px;
}

.reasons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    height: 272.5px;
}

.sub-sub-heading {
    font-size: 21px;
}

.reason {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conversion-subtxt p {
    line-height: 150%;
    font-size: 16.5px;
}

.section-three {
    background-color: hsl(0, 0%, 98%);
    display: grid;
    grid-template-rows: 15% 85%;
    height: 490px;
    width: 1068.75px;
    padding: 80px 178.125px;
    row-gap: 20px;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;

}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.column {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 5px;
    background-color: white;
}

.article-img {
    height: 190px;
}

.article-img img {
    height: 190px;
    width: 100%;
    object-fit: cover;
    /* object-position: 50px 50px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.author p {
    font-size: 12px;
}

.blurb p {
    font-size: 13.5px;
    line-height: 150%;
}

nav.footer {
    background-color: hsl(233, 26%, 24%);
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
}

.socials {
    padding-left: 190px;
    padding-right: 120px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.platforms {
    display: flex;
    justify-content: space-between;
}

.platforms img:hover {
    transition: 0.5s;
    fill: hsl(136, 65%, 51%);
    cursor: pointer;
}

.sitemap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: hsl(220, 16%, 96%);
    padding-right: 20px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sitemap p {
    flex: 0 0 50%;
}

.sitemap p:hover {
    transition: 0.5s;
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}

.footer-conversion {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.copyright{
    color: whitesmoke;
}

